body {
    color: purple;
    background-color: #20B7DB;
    border: solid 36px white;
    margin: 0
}

div {
    color: brown;
}

h1 {
    color: black;
    background-color: white;
}

h1:hover {
    transform: translateY(-5px);
    background-color: #f0f0f0;
    transition: all 0.3s ease;
    color: red;
}



.publicidad {
    color:#20B7DB;
    border: solid 5px #30545C;
    border-radius: 0.5rem;
    background-color: #DB5D25;

#paquito {
    color: aquamarine;
}
